.wrapper {
  padding: 11px;
  margin: 5px 0px;
  background-color: transparent;
  border: 2px solid brown;
  border-radius: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  font-family: 'Montserrat';
  color: black;
}

.container_titlePost {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0px 0px 7px 0px;
}

.container_infoAboutPost {
  font-size: 22px;
  font-weight: 300;
}
